body{
    padding:0;
    color: #5a5a5a;
}

footer{
    text-align: center;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.container {
    width: 1200px;
    padding: 0;
    max-width: none !important;
}


/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    z-index: 20;
    width: auto;
}

.container .navbar-header,
.container .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}

/* Always float the navbar header */
.navbar-header {
    float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
    margin: auto;
    display: block !important;
    padding-bottom: 0;
    border-top: 0;
    overflow: visible !important;
    visibility: visible !important;
    background-color: #33cc00;
}
.navbar-collapse,.navbar-box,.navbar-box .navbar-nav,.navbar-box .navbar-nav > li,.navbar-box .navbar-nav > li > a{
    height: 40px !important;
}

@media (min-width: 768px) {
    .navbar-collapse.collapse {
        height: 40px !important;
    }
}

.navbar-toggle {
    display: none;
}

.navbar-box{
    background-color: #33cc00;
}

/* Always apply the floated nav */
.navbar-nav {
    float: none;
    margin: 0 0 0 260px;
}
.navbar-nav > li {
    float: left;
}
.navbar-nav > li > a {
    padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
    float: right;
}
.navbar {
    margin-bottom:0px;
    border:none;
}

/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
    position: absolute;
    float: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-width: 0 1px 1px;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}


/*nav*/
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #1F87E8;
  text-decoration: none;
  background-color: transparent;
}
.navbar-default {
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1), 0 1px rgba(0,0,0,0.1);
  background: #fafafa;
}
.navbar-default .navbar-brand {
  color: #33cc00;
  width: 260px;
  font-weight: bold;
  font-size: 35px;
  font-style: italic;
  padding: 0px;
  margin: 0;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  padding: 0px;
  color: #33cc00;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-box .navbar-nav > li > a {
    font-size: 17px;
    font-weight: bold;
}
.navbar-default .navbar-right > li > a {
    color: #33cc00;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
    font-weight: bold;
  background-color: #4ecf5b;
}
.navbar-default .navbar-right > li > a:hover,
.navbar-default .navbar-right > li > a:focus {
    color: #33cc00;
    background-color:transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #4ecf5b;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #4ecf5b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: transparent;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #fff;
    background-color: transparent;
  }
}

@media (min-width: 768px) {
    .navbar-box .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.navbar-default .navbar-link {
  color: #777;
}
.navbar-default .navbar-link:hover {
  color: #33cc00;
}
.navbar-default .btn-link {
  color: #777;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #33cc00;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #33cc00;
}

.nav-tel-icon a{
    padding: 0 0 0 15px !important;
}
.nav-tel-icon i{
    margin-top: 10px;
    background: url('../image/nav-tel-icon.png') no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.nav-tel-number a{
    padding-left: 5px !important;
    font-size: 18px;
    font-weight: bold;
    color: #33cc00 !important;
}

.nav> li:hover .dropdown-menu {display: block;}

.dropdown-menu{
    min-width: inherit;
}

.dropdown-menu >li>a{
    text-align: center;
    font-size: 16px;
}
.dropdown-menu >li>a:hover{
    color: #33cc00;
}

.btn-success {
    color: #fff;
    background-color: #33cc00;
    border-color: #33cc00;
}
.btn-success:focus,
.btn-success.focus {
    color: #fff;
    background-color: #4ecf5b;
    border-color: #4ecf5b;
}
.btn-success:hover {
    color: #fff;
    background-color: #4ecf5b;
    border-color: #4ecf5b;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #4ecf5b;
    border-color: #4ecf5b;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
    color: #fff;
    background-color: #4ecf5b;
    border-color: #4ecf5b;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    background-image: none;
}
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
    background-color: #4ecf5b;
    border-color: #4ecf5b;
}
.btn-success .badge {
    color: #1F87E8;
    background-color: #fff;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #4ecf5b;
}

.carousel-indicators li {
    border: 1px solid #4ecf5b;
}
footer{
    padding: 10px;
    background-color: #f2f2f2;
    color: #707070;
}


.footer-characteristic{
    margin-top: 20px;
    padding-left: 45px;
    padding-right: 25px;
}

.footer-characteristic .col-md-2 {
   margin-right: 35px;
}

.footer-characteristic .col-md-2 img{
    background-color: inherit;
    border: none;
    margin-bottom: 5px;
    width: 48px;
    height: 48px;
}

.footer-info-box{
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-info-box dl{
    display: block;
    padding: 0px 0px 0px 20px;
    margin: 0;
    width: 230px;
    float: left;
}

.footer-info-box>dl>dt{
    display: block;
    padding-bottom: 15px;
    font-size: 16px;
}
.footer-info-box>dl>dd>a{
     display: inline-block;
     width: 140px;
    color: #93939e;
 }
.footer-info-box>dl>dd>a>img{
    height: 130px;
}
.footer-info-box>dl>dd>a:hover{
    text-decoration: none;
    color: #93939e;
}

.pagination .cur{
    background-color: #f2f3f5;
}

.pagination>li>a, .pagination>li>span {
    color: #33cc00;
}
.modal-header{
    padding: 10px;
}
.modal-body{
    word-wrap: break-word;
}

.display-none{
    display: none;
}