.tours-abroad-box,
.tours-domestic-box,
.tours-business-box{
    margin-top: 20px;
}
.tours-abroad-box h3{
    color: #ed5058;
}
.tours-abroad{
    padding-top: 10px;
    border-top: 1px #ed5058 solid;
}

.tours-domestic-box h3{
    color: #96c;
}
.tours-domestic{
    padding-top: 10px;
    border-top: 1px #96c solid;
}

.tours-business-box h3{
    color: #1167e8;
}
.tours-business{
    padding-top: 10px;
    border-top: 1px #1167e8 solid;
}

.tours-abroad .col-md-3 .thumbnail,
.tours-business .col-md-3 .thumbnail,
.tours-domestic .col-md-3 .thumbnail{
    border: none;
}

.tours-abroad .caption,
.tours-domestic .caption,
.tours-business .caption{
    padding-right: 15px;
    padding-left: 15px;
}

.tours-abroad a ,
.tours-business a ,
.tours-domestic a{
    margin-bottom: 10px;
}

.tours-abroad-header,.tours-domestic-header{
    width: 20%;
}
.tours-abroad-header img,
.tours-domestic-header img{
    width: 250px;
    height: 400px;
}

.tours-abroad-list .col-md-3,
.tours-business-list .col-md-3,
.tours-domestic-list .col-md-3{
    height: 220px;
}

.tours-abroad-list img,
.tours-business-list img,
.tours-domestic-list img{
    width: 240px;
    height: 150px;
}

